absl-py==0.7.1
altgraph==0.16.1
astor==0.8.0
certifi==2019.3.9
cffi==1.14.0
chardet==3.0.4
codecov==2.0.15
coverage==4.5.3
cryptography==2.8
cycler==0.10.0
filelock==3.0.12
future==0.18.2
gast==0.2.2
grpcio==1.21.1
h5py==2.9.0
idna==2.8
importlib-metadata==0.17
influxdb==5.2.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lxml==4.6.2
Markdown==3.1.1
matplotlib==3.1.0
mock==3.0.5
nose==1.3.7
numpy==1.16.4
opcua==0.98.9
opcua-client==0.8.0
opcua-widgets==0.5.8
pefile==2019.4.18
Pillow==6.2.1
pluggy==0.12.0
protobuf==3.8.0
py==1.8.0
pycparser==2.19
PyInstaller==3.5
pyparsing==2.4.0
PyQt5==5.12.2
PyQt5-sip==4.19.17
PySide2==5.13.2
PySimpleGUI==4.11.0
PySimpleGUIQt==0.30.0
PySimpleGUIWx==0.14.0
python-dateutil==2.8.0
python-snap7==0.10
pytz==2019.3
pywin32==227
pywin32-ctypes==0.2.0
requests==2.22.0
shiboken2==5.13.2
six==1.12.0
termcolor==1.1.0
toml==0.10.0
tox==3.12.1
urllib3==1.25.3
virtualenv==16.6.0
Werkzeug==0.15.4
wxPython==4.0.7.post2
zipp==0.5.1
