<communication><plc>0.0.0.0<data><data_type>S7WLReal</data_type><data_area>S7AreaDB</data_area><data_address>DB10.DBD4</data_address><data_alias>test</data_alias><active>True</active></data><data><data_type>S7WLBit</data_type><data_area>S7AreaPE</data_area><data_address>0</data_address><data_alias>data_alias</data_alias><active>False</active></data></plc><plc>10.14.12.77<data><data_type>S7WLWord</data_type><data_area>S7AreaDB</data_area><data_address>DB10.DBD2</data_address><data_alias>temperatura</data_alias><active>True</active></data></plc></communication>